body {  /* 设定页面文字及主题色设置 */
    background:#E7F1FA;
    font:normal 15px" Microsoft YaHei";
    margin:0;
}

#top {  /* 页眉主题色及布局样式设置: */
    margin:0 auto;
    height:70px;
    background-color:#303030;
    color:#FFFFFF;
}

#top_logo {  /* 页眉中 LOGO 的设置及页面标题样式 */
    background:url(../img/swing3.gif)50px 2px no-repeat;
    font-size:46px;
    font-weight:bold;
    font-family:"楷体";
    width:360px;
    float:left;
    height:65px;
    line-height:65px;
    padding:1px 1px 1px 90px;
    vertical-align:middle;
}

#top_links {  /* 按钮组样式的设置 */
    width:320px;
    height:65px;
    float:right;
    color:#ADADAD;
    line-height:65px;
	display: inline-block;
}
#top img{
	margin-left: 26px;
	vertical-align: text-top;
}
@media screen and(max-width:800px){
    #top {
        width:900px;
    }
}

@media screen and(max-width:600px){
    #top {
        width:600px;
    }
}

@media screen and(min-width:400px)and(max-width:830px){
    #top_logo {
        font-size:28px;
        width:180px;
    }

    #top img {
        margin-left:16px;
    }
}
#right {
    width:100% ;
    float:left ;
}

#right .content {
    margin-left:265px;
    margin-top:2px;
}

.sitebar{
    width:265px;
    float:left;
    margin-left:-100% ;
}
#menu {
    width:260px;
    height:100% ;
    border:1px solid #ccc;
    margin:2px 0px;
    background:#fff;
}
#user{margin:18px 38px;}
#menu li {
    padding:5px 0px;
    margin:0;
    list-style:none;
    line-height:14px;
    text-align:left;
    white-space:nowrap;
	outline: 0;
}

#menu span.line {
    color:blue;
    font-family:"arial black";
    font-weight:900;
    margin-right:8px;
}

#menu li a {
    padding:1px 3px 0 0;
    margin:0;
    cursor:pointer;
    height:17px;
    color:#333;
    background-color:transparent;
    text-decoration:none;
    vertical-align:top;
    display:inline-block;
}

#menu li a:hover {
    color:blue;
}

.navtop {
    display:block;
    text-align:center;
    width:190px;
    background-color:#3bb3e0;
    font-family:"黑体";
    font-size:16px;
    font-weight:900;
    text-decoration:none;
    color:#fff;
    position:relative;
    padding:10px 20px;
	padding-right:50px;
	background-image:linear-gradient(bottom,rgb(44,160,202)0%,
	rgb(62,184,229)100%);
	background-image:-o-linear-gradient(bottom,rgb(44,160,202)
	0%,rgb(62,184,229)100%);
	background-image:-moz-linear-gradient(bottom,rgb(44,160,
	202)0%,rgb(62,184,229)100%);
	background-image:-webkit-linear-gradient(bottom,rgb(44,
	160,202)0%,rgb(62,184,229)100%);
	background-image:-ms-linear-gradient(bottom,rgb(44,160,
	202)0%,rgb(62,184,229)100%);
	background-image:-webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0,rgb(44,160,202)),
	color-stop(1,rgb(62,184,229))
	);
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;
	-webkit-box-shadow:inset 0px 1px 0px #2ab7ec,0px 5px 0px #
	156785,0px 10px 5px #999;
	-moz-box-shadow:inset 0px 1px 0px #2ab7ec,0px 5px 0px #
	156785,0px 10px 5px #999;
	-o-box-shadow:inset 0px 1px 0px #2ab7ec,0px 5px 0px #
	156785,0px 10px 5px #999;
	box-shadow:inset 0px 1px 0px #2ab7ec,0px 5px 0px #156785,
	0px 10px 5px #999;
	}
.hide{
	display: none;
}
.box_top{
	height: 37px;
	line-height: 37px;
	color: #fff;
	background: #044599;
	padding-left: 20px;
}
#repass div {
    font-size:14px;
    color:#666;
    padding:5px 0;
    text-align:center;
}

#change {  /* 页眉上的修改密码，鼠标放上光标小手形状显示 */
    cursor:pointer;
}

#screen1 {  /* 遮罩锁屏效果的样式设定 */
    position:absolute;
    top:0;
    left:0;
    background:#000;
    z-index:99;
	filter:alpha(opacity=30);
	opacity:0.3;
	display:none;
	}
	
#repass h2 img{
	    float:right;
	    position:relative;
	    top:14px;
	    right:8px;
	    cursor:pointer;
}
	
.qr{  /* 按钮样式:特殊部分单独列出,其他使用 navtop 样式类 */
	    margin:10px auto;
	    width:58px;
	    height:18px;
	    font-size:18px;
	    padding:10px 18px;
}
#repass{
    width:350px;
    height:250px;
    border:1px solid #ccc;
    position:absolute;
    z-index:99;
    background:#fff;
    display:none;
}

#repass h2 {
    height:40px;
    line-height:40px;
    text-align:center;
    font-size:14px;
    letter-spacing:1px;
    color:#fff;
	background:#044599;
	padding:0;
	border-bottom:1px solid #ccc;
	margin:0 0 20px 0;
	}
	
#repass div {
	    font-size:14px;
	    color:#666;
	    padding:5px 0;
	    text-align:center;
}
	
#repass input.text{
	    width:200px;
	    height:25px;
	    border:1px solid #ccc;
	    background:#fff;
	    font-size:14px;
}
#time{
	font-weight: 600;
	color: #800000;
	float: right;
	margin-right: 300px;
}
#oTable td{
	border-bottom: #3399FF dashed 1px;
	 padding: 6px 24px;
}
#oTable tr.altrow{
	background-color: #c4e4ff;
}
#footer{
	margin: 0 auto;
	height: 30px;
	background-color: #999999;
	color: #fff;
	text-align: center;
	font-size: 12px;
	line-height: 30px;
	clear: both;
}

/* --- 以下为整合 Index.html 带来的新增样式 --- */
.ui_txt { width: 80px; height: 16px; margin: 2px 5px; outline: 0; padding: 5px; border: 1px solid #C0C0C0; border-radius: 2px; }
.ui_btn { margin: 6px; width: 100px; height: 30px; cursor: pointer; border: none; background: #044599; color: #fff; border-radius: 3px; }
.ui_btn:hover { background: #03326d; }
.table { margin: 20px auto; border-collapse: collapse; background-color: #fff; }
.table tr th { background: #044599; color: #fff; height: 37px; border: 1px solid #02397F; }
.table tr td { text-align: center; border: 1px solid #ECECEC; height: 37px; color: #666; }
#info { color: red; text-align: center; height: 20px; margin: 10px; }